{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div style="float: right;">
                            <a href="{% url 'add_assign' %}" class="btn btn-success">
                                <i class="fas fa-plus"></i> Lập kế hoạch</a>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead class="table-info text-primary text-center">
                                <tr>
                                    <th>STT</th>
                                    <th>Mã học phần</th>
                                    <th>Tên học phần</th>
                                    <th>Số tín chỉ</th>
                                    <th>Nhóm</th>
                                    <th>Thứ</th>
                                    <th>Tiết</th>
                                    <th>Phòng/Dãy</th>
                                    <th>Cán bộ giảng dạy</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for assign in assigns %}
                                <tr>
                                    <td class="text-center">{{ forloop.counter }}</td>
                                    <td>{{assign.subject.id}}</td>
                                    <td>{{assign.subject.name}}</td>
                                    <td class="text-center">{{assign.subject.credit}}</td>
                                    <td>{{assign.group}}</td>
                                    <td>{{assign.day}}</td>
                                    <td>{{assign.period}}</td>
                                    <td>{{assign.room.name}}</td>
                                    <td>{{assign.staff.id}} {{assign.staff.last_name}} {{assign.staff.first_name}}</td>
                                    <td class="text-center">
                                        <a href="{% url 'edit_assign' assign.id %}" class="btn btn-info"><i class="far fa-edit"></i> Sửa</a> -
                                        <a href="{% url 'delete_assign' assign.id %}" class="btn btn-danger"
                                           onclick="return confirm('Bạn có chắc chắn muốn xóa?')"><i class="far fa-trash-alt"></i> Xóa</a>
                                    </td>
                                </tr>
                                      {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}